name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test_version:
    timeout-minutes: 10
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ matrix.version }}
          channel: any
      - run: flutter pub get
      - run: flutter test
      - name: Archive golden test errors
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: 3-10-failed
          path: test/
          retention-days: 7

  test_channel:
    timeout-minutes: 10
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        version: [ "stable", "beta", "master" ]

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: ${{ matrix.version }}
      - run: flutter pub get
      - run: flutter test
      - name: Archive golden test errors
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: branches-tests-failed
          path: test/
          retention-days: 7
